<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Điểm danh</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" type="text/css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        {% include "sidebar.html" %}
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            {% include "topnav.html" %}
            <!-- Page content-->
            <div class="container-fluid">
                <div class="m-2">
                    <h3>Dữ liệu lớp học phần</h3>
                    <p>{{ res }}</p>
                    <button class="btn btn-primary float-end mb-2" data-toggle="modal" data-target="#exampleModalLong">
                        Thêm lớp học phần
                    </button>
                    <div>
                        <table class="table mt-2">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Tên lớp học phần</th>
                                    <th scope="col">Tên giảng viên</th>
                                    <th scope="col">Số lượng sinh viên</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for classmodule in classmodules %}
                                <tr>
                                    <input class="classmodule_id" value={{classmodule[0]}} type="hidden" />
                                    <td class="classmodule_name">{{classmodule[1]}}</td>
                                    <td>{{classmodule[2]}}</td>
                                    <td>0</td>
                                    <td>

                                        
                                        <a href="/student_register/{{classmodule[0]}}/False" class="btn btn-danger mb-2">Xem sinh viên trong lớp</a>
                                        <a href="/subject/{{classmodule[0]}}" class="btn btn-danger mb-2">Chi tiết</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thêm lớp học phần</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/class_module_page/add" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên lớp học phần</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" required
                                        name="classmodule_name" aria-describedby="emailHelp"
                                        placeholder="Nhập tên lớp học phần">
                                    <!--                                <small id="emailHelp" class="form-text text-muted hidden">We'll never share your email with-->
                                    <!--                                    anyone else.</small>-->
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên giảng viên</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" required
                                        name="lecture_name" aria-describedby="emailHelp"
                                        placeholder="Nhập tên giảng viên">
                                    <!--                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with-->
                                    <!--                                    anyone else.</small>-->
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Lưu lại</button>
                            </form>
                        </div>

                    </div>
                </div>


            </div>
            <div class="modal fade" id="viewstudent_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewstudent_modalTitle">Xem sinh viên </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" action="class_module_page/addstudent" method="POST">
                                <input type="hidden" id="classmoduleform-id" name="classmodule-id">
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                                    name="mssv" placeholder="Nhập mã sinh viên">
                                <button type="submit" class="btn btn-primary float-right mb-2">Thêm vào lớp</button>
                            </form>
                         
                            <table class="table mt-2">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Mã sinh viên</th>
                                        <th scope="col">Tên sinh viên</th>
                                        <th scope="col">Lớp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tbody>
                                    {% for item in data %}
                                    <tr>
                                        <td>{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>{{item[2]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script>

        $(document).ready(function () {
            $("#class-menuitem").css("background-color", "#dee2e6");
            $(".btn-inclass-view").on("click", function () {
                classname = $(this).parent().parent().find(".classmodule_name").text();
                classmoduleId = $(this).parent().parent().find(".classmodule_id").val();
                $("#classmoduleform-id").val(classmoduleId);
                $("#viewstudent_modalTitle").text(classname);
            });
        });

    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>